# tensor dumps
*.pt
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class
*.npy

# Folders #
###########
bin/
build/
dist/
local/
tmp/
__pycache__/
*.egg-info/
.idea/
.ipynb_checkpoints/
.vscode/
esm/dev
PDB/
test_embeddings/
Train/
'Test (Targets)'/
embeddings/
*.zip
*.pt

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~
